{% extends "base.html" %}

{% block title %}Welcome Post - Getting Started - Forum{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{{ url_for('index') }}">Home</a> &gt; 
    <a href="{{ url_for('index') }}">Forum</a> &gt; 
    <a href="{{ url_for('forum') }}">General Discussion</a> &gt; 
    <span>Welcome Post - Getting Started</span>
</div>
{% endblock %}

{% block content %}
<div class="thread-info-bar">
    <div class="thread-stats">
        <span>Views: <span id="thread-views">0</span></span> | 
        <span>Replies: <span id="thread-replies">0</span></span>
    </div>
    <div class="thread-title-bar">
        <h1 id="thread-title">Loading...</h1> <a href="#" class="copy-link">[Copy Link]</a>
    </div>
    <div class="thread-actions">
        <a href="{{ url_for('forum') }}" class="btn btn-secondary">Return to List</a>
    </div>
</div>

<div class="posts-container" id="posts-container">
    <!-- Posts will be loaded dynamically by JavaScript -->
    <div style="text-align: center; padding: 40px; color: #999;">Loading forum content...</div>
</div>
{% endblock %}
